:root {
    --primary: #ff5721;
    --primary-light: #ff8365;
    --primary-dark: #bf360c;
    --background-head: #ff8a65;
    --background-nav: #ff5722;
    --background-light: #f5f5f5;
    --text: #232323;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;    
    min-height: 100vh;
    font-family: 'Roboto', Verdana;
}

body {
    background: radial-gradient(farthest-corner at 100% 100%, #ff8a65, rgb(223 29 92) 150%);
    font-size: 85%;
    display: flex;
    flex-direction: column;            
    color: var(--text);
}

body::after {
    position: absolute;
    content: '';
    top: 0;
    opacity: .15;
    z-index: -1;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/emil/wave.svg) fixed no-repeat;
    background-size: cover;
    background-position: right;
    mix-blend-mode: overlay;    
}